@import '../theme/variables.styl';

// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––
.button,
button {
  display: inline-block;
  color: $color-text-black;
  text-align: center;
  font-weight: 500;
  height: 44px;
  padding: 0 30px;
  font-size: 12px;
  line-height: 38px;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: $border-radius;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.2)
  margin-bottom: 20px;
}

.button-sm
  padding: 0 20px;
  font-size: 11px;
  line-height: 30px;
  height: 30px;

.button-lg
  padding: 0 40px;
  font-size: 14px;
  line-height: 50px;
  height: 50px;

input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: $primary-color-2;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: $global-radius;
    border: 1px solid $border-color;
    cursor: pointer;
    box-sizing: border-box;
  }
}

.button:hover,
button:hover {
  color: $color-text;
  border-color: lighten($color-text, 33.3%);
  outline: 0;
}

input {
  &[type="submit"]:hover,
  &[type="reset"]:hover,
  &[type="button"]:hover {
    color: $color-text;
    border-color: lighten($color-text, 33.3%);
    outline: 0;
  }
}

.button:focus,
button:focus {
  color: $color-text;
  border-color: lighten($color-text, 33.3%);
  outline: 0;
}

input {
  &[type="submit"]:focus,
  &[type="reset"]:focus,
  &[type="button"]:focus {
    color: $color-text;
    border-color: lighten($color-text, 33.3%);
    outline: 0;
  }
}

.button.button-primary,
button.button-primary
  color: #fff;
  background-color: $primary-color-1;
  border-color: transparent;
  &:hover
    color: #fff;
    background-color: darken($primary-color-1, 20%);
  &:focus
    color: #fff;
    background-color: $primary-color-1;

.button.button-success,
button.button-success
  background-color: $bg-status-success;
  color: white;
  border-color: transparent;
  &:hover
    color: #fff;
    background-color: darken($bg-status-success, 20%);
  &:focus
    color: #fff;
    background-color: $bg-status-success;

.button.button-error,
button.button-error
  background-color: $bg-status-error;
  border-color: transparent;
  color: white;
  &:hover
    color: #fff;
    background-color: darken($bg-status-error, 20%);
  &:focus
    color: #fff;
    background-color: $bg-status-error;

input
  &[type="submit"].button-primary,
  &[type="reset"].button-primary,
  &[type="button"].button-primary
    color: #fff;
    background-color: $primary-color-1;
    &:hover
      color: #fff;
      background-color: $link-color;
    &:focus
      color: #fff;
      background-color: $link-color;
      border-color: $link-color;


.theme-dark
  .btn-default
    border-color: transparent !important;
