@import '../styles/base'

.header
  background-color white
  border-bottom 1px solid rgba(black, 0.1)
  text-align left


.navigation
  list-style-type none
  margin 0
  padding 0
  float left
  margin-left 30px

.navigation
.buttons-group
  clearfix()
  position relative
  margin-top: 41px;
  margin-bottom: 41px;

.buttons-group
  float right
