// Mixins
breakpoint(point, orientation = "min")
  if point == "mobile"
    @media ({$bp-larger-than-mobile})
      {block}

  else if point == "mobile-landscape"
    @media ({$bp-larger-than-phablet})
      {block}

  else if point == "tablet"
    @media ({$bp-larger-than-tablet})
      {block}

  else if point == "desktop"
    @media ({$bp-larger-than-desktop})
      {block}

  else if point == "desktop-hd"
    @media ({$bp-larger-than-desktophd})
      {block}
